.route__background{
    max-width: 1184px;
   min-height: 740px; 
   background-image: url('../../../images/Image.jpg');
   color: #FFFFFF;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   text-decoration:none;
   align-items: center;
   flex-direction: column;
   position: relative;
 }


 .route__background:before {
   content: "";
   height: 100%;
   width: 100%;
   background: #000000;
   position: absolute;
   top: 0;
   left: 0;
   opacity: .3;
   transition-duration: .5s;
   z-index: 0;
 }
 
 .route__background:hover::before {
   opacity: 0.8;
 }
     @media screen and (max-width:  1024px ) {
   .route__background{
     max-width: 1024px;
     max-height: 640px;
 }
  }
    @media screen and (max-width: 768px)
  {
   .route__background{
     max-width: 768px;
     max-height: 480px;
 }
  }

   @media screen and (max-width: 320px) {
     .route__background{
         max-width: 320px;
         max-height: 200px;
     }
   }
 