@import url('__container/photo-grid__container.css');
@import url('__item/photo-grid__item.css');

.photo-grid {
    padding: 92px 0 0;
    display: flex;
    justify-content: center;
    max-width: 1184px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}

@media screen and (max-width: 320px) {
    .photo-grid {
        padding-top: 64px;
    }
}