@import url('__list/places__list.css');
@import url('__cell-image/places__cell-image.css');
@import url('__cell-info/places__cell-info.css');
@import url('__cell-title/places__cell-title.css');
@import url('__cell/places__cell.css');
@import url('__url-container/places__url-container.css');
@import url('__content-container/places__content-container.css');
@import url('__link/places__link.css');
@import url('__url-marker/places__url-marker.css');

.places {
    padding: 0;
    max-width: 984px;
    margin: 0 auto;
    width: 100%;
}