@import url('__cell-image/places__cell-image.css');
@import url('__cell-info/places__cell-info.css');
@import url('__cell-title/places__cell-title.css');
@import url('__cell/places__cell.css');
@import url('__column/places__column.css');
@import url('__link/places__link.css');
@import url('__url-marker/places__url-marker.css');

.places {
    padding-top: 72px;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 288px;
    }
}