.places__cell-info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px;
    padding: 0;
    width: 100%;
}

.places__cell-info:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .places__cell-info {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 320px) {
    .places__cell-info {
        font-size: 16px;
        line-height: 26px;
    }
}