.photo-grid__container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    grid-gap: 16px;
    width: 100%;
    justify-items: center;
}

@media screen and (max-width: 1275px) {
    .photo-grid__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1022px) {
    .photo-grid__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
     }
}

@media screen and (max-width: 766px) {
    .photo-grid__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 12px;
     }
}