.header__lang {
    margin: 46px 0 0 auto;
    display: flex;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .header__lang {
        margin: 32px 16px 0 auto;
    }
}

@media screen and (max-width: 300px){
    .header__lang {
    margin: 16px 0 0;
}
}
