.places__column {
    width: 50%;
}

.places__column:last-child {
    margin: 0;
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .places__column:last-child {
        padding-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__column:last-child {
        padding-left: 28px;
    }
}

@media screen and (max-width: 320px) {
    .places__column:last-child {
        padding: 32px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .places__column {
        width: auto;
    }
}