.photo-grid__item {
    width: 284px;
    height: auto;
    display: flex;
    justify-content: space-around;
    object-fit: cover;
}

@media screen and (max-width: 1275px) {
    .photo-grid__item {
        width: 300px;
    }
}

@media screen and (max-width: 1022px) {
    .photo-grid__item {
        width: 352px;
        
    }
}

@media screen and (max-width: 763px) {
    .photo-grid__item {
        max-width: 288px;
        width: 100%;
    }
}