@import url('__lang-link/header__lang-link.css');
@import url('__lang/header__lang.css');

.header {
    display: flex;
    margin: auto;
}

@media screen and (max-width: 300px) {
    .header {
    flex-direction: column;
    align-items: center;
    }
}
