.lead__title {
    max-width: 782px;
    width: 100%;
    height: auto;
    align-self: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin: 50px auto 48px;
}

@media screen and (max-width: 460px) {
    .lead__title {
        font-size: 70px;
        line-height: 80px;
    }
}

@media screen and (max-width: 340px) {
    .lead__title {
        width: 100%;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
     }
}