.lead__image {
    max-height: 615px;
    align-self: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 480px;
        width: calc(100% + 24px*2);
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-height: 200px;
        width: calc(100% + 16px*2);
    }
}

