.language__nav {
    text-decoration: none;
    color: #ffffff;
    padding: 0 0 0 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
}

.language__nav:first-child {
    text-decoration-line: underline;
}

.language__nav:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .language__nav {
        font-size: 18px;
        line-height: 24px;
    }
}