@import url('__main/intro__main.css');
@import url('__stats/intro__stats.css');
@import url('__subtitle/intro__subtitle.css');
@import url('__title/intro__title.css');
@import url('__stats-bold/intro__stats-bold.css');

.intro {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}