.cities__link {
    text-decoration: none;
    text-decoration-line: underline;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.cities__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .cities__link {
        display: none;
    }
}