@import url('__cell-image/cities__cell-image.css');
@import url('__cell-info/cities__cell-info.css');
@import url('__cell-title/cities__cell-title.css');
@import url('__cell/cities__cell.css');
@import url('__column/cities__column.css');
@import url('__link/cities__link.css');
@import url('__url-marker/cities__url-marker.css');

.cities {
    padding-top: 72px;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cities {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .cities {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .cities {
        max-width: 288px;
    }
}